html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 0.8rem; /* Smaller font size */
  opacity: 0.8;
}

footer {
  background-color: #3a3a85; /* Your specified color */
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 5px 15px; /* Smaller padding */
  position: fixed;
  bottom: 0;
  width: 100%; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap if necessary */
}
