.login-container {
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #d2ffff , #0694c6);
}

.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.welcome-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #3a3a85;
    color: white;
}