.register-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 75px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
  }
  
  p {
    text-align: center;
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    color: #333;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .form-group div {
    display: flex;
    flex-direction: column;
  }
  
  .form-group div label {
    margin-bottom: 5px;
  }
  