<header>
    <link rel = "stylesheet" href="/css/styles.css">
    <div class="container">
        <h1>CLT ALERT</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#crimeMap">Map</a></li>
                <li><a href="#report">Crime Report</a></li>
                <li><a href="#contacts">Emergancy Contacts</a></li>
                <li><a href="#about">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>
